@charset "UTF-8";

/* Layout
___________________________*/

body,html, #home {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    height: 100vh;
    background-image: url(../imagens/capa.png),
                      url(../imagens/ruido.png),
                      linear-gradient(50deg, #ff4169,#7c26f8);
                      background-attachment: fixed;
        
}

/* Barra de navegação
__________________________*/

nav.transparente {
    background: #00000034;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: white;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.divisor {
    width: 1px;
    background: rgb(255, 254, 254);
    margin: 12px 15px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(194, 244, 235, 0.551);
}

/* Capa
_______________________*/

.capa {
    text-align: center;
}

/* Estrutura Seção conteúdo
_________________________ */

.caixa {
    padding: 25px 0px;
}

#servicos h2, h3 {
    color: #7c25f8;
}

#recursos h2 {
    color: #fff;
}

#recursos h3 {
    color: #9bf0e1;
}

.albuns {
    padding-top: 10px;
}

.img-fluid {
    margin-bottom: 20px;
}

/* Estrutura Seção conteúdo
___________________________ */

.rotate {
    padding-left: 80px;
    -ms-transform: rotate(30deg);/* IE 9 */
    -webkit-transform: rotate(30deg);/* Chrome, Safari, Opera */
    transform: rotate(30deg);
}

 /* Tipografia
 _____________________*/

.capa h1 {
    color: #fff;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}

#servicos p {
    text-indent: 15px;
}

#recursos p {
    text-indent: 15px;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.btn-custom {
    color: #fff;
    text-transform: uppercase;
    border-radius: 500px;
    transition: 0.4s;
    transition-timing-function: ease;
    padding: 10px 20px;
}

.btn-roxo {
    background-color: #7c25f8;
    color: #000;
}

.btn-roxo:hover {
    background: #6307e3aa;
    color: #000;
}


.btn-branco {
   border: 1px solid white;
    color: #ffffff;
}

.btn-branco:hover {
    background: #ffffff7c;
    color: #000;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    font-size: 1.2em;
}

/* Media queries
____________________*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .capa h1 {
       font-size: 2.5em;
    }

    .btn-custom {
        font-size: 1em;
        margin: 10px 15px;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
    
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .capa h1 {
        font-size: 3em;
    }

    .btn-roxo {
        width: small;
        font-size: small;
    }

    .btn-branco {
        width: small;
        font-size: small;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .capa h1 {
        font-size: 4em;
    }

    
    .btn-roxo {
        width: medium;
        font-size: medium;
    }

    .btn-branco {
        width: medium;
        font-size: medium;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .capa h1 {
        font-size: 5em;
    }
    
    .btn-roxo {
        width: large;
        font-size: large;
    }

    .btn-branco {
        width: large;
        font-size: large;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .capa h1 {
        font-size: 6em;
    }

    .btn-roxo {
        width: x-large;
        font-size: x-large;
    }

    .btn-branco {
        width: x-large;
        font-size: x-large;
    }
}

.rodape {
    position: relative;
    background: #000;
    padding: 50px 0px;
}

.rodape h4 {
    color: #919496;
    text-transform: uppercase;
    font-size: 0.8em;
    pointer-events: none;
}

.rodape .navbar-nav li {
    margin: 5px 0px;
}

.rodape .navbar-nav a {
    color: #ffffff;
    font-size: 0.8em;
    text-decoration: none;
}

.rodape .navbar-nav a:hover {
    color: #b7b7b7;
    font-size: 0.8em;
    text-decoration: underline;
}